// Place all the styles related to the Coordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { height: 100% }
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('grad_bg.jpg') repeat no-repeat;
  background-color: #999999;
  color: #ee3a43;
  }

#map_canvas {
  height: 570px;
  width: 500px;
  float: right;
  }

#contents {
  padding-left: 10px;
  float: left;



}

#properties_table {
  height: 250px;
}


table
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  /*margin: 45px;*/
  width: 480px;
  border-collapse: collapse;
  text-align: left;
}
th
{
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding: 10px 8px;
  border-bottom: 2px solid #ee3a43;;
}
td
{
  color: black;
  padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
  color: #ee3a43;
}
